
::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    width: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #88ccfd;
    margin-left: 5px;
    height: 35px;
    border-radius: 10px;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #359ce6;
  }
.textporukeposlate {
  display: block;
  inline-size: 500px;
  overflow-wrap: break-word;
  font-weight: 900;
  color: #3bacfd;
  border-radius: 4px;
  background-color: whitesmoke;
  margin-right: 0;
  margin-left: 40%;
  margin-top: 0;
  margin-bottom: 10px;
  padding-left: 5px;
}
.textporukeprimljene {
  display: block;
  inline-size: 500px;
  background-color: #3bacfd;
  overflow-wrap: break-word;
  border-radius: 4px;
  color: whitesmoke;
  font-weight: 900;
  margin-top: 0;
  margin-bottom: 10px;
  padding-left: 5px;
}
