.p {
    background-color: #FFE891;
    font-size: 2rem;
    color: #0874C0;
    font-weight: 600;
    margin-bottom: 8.5px;
    margin-top: 0;
    margin-left: 5px;
    border-radius: 15px;
    padding: 10px 10px;
  }